# SPDX-FileCopyrightText: 2024 Johann Klähn <johann@jklaehn.de>
#
# SPDX-License-Identifier: MIT

.cache/
.clangd/
.direnv/
.envrc
.lit_test_times.txt
.pytest_cache/
build/
compile_commands.json
dist/
install/
