# SPDX-FileCopyrightText: 2024 Johann Klähn <johann@jklaehn.de>
#
# SPDX-License-Identifier: MIT

BasedOnStyle: InheritParentConfig
# Misbehaves for namespaces with `GENPYBIND` annotations.
FixNamespaceComments: false
# Avoid messing up `FileCheck` comments.
ReflowComments: false
